nav {
  background: #02007C;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

.red{
  color:red
}

.green {
  color:green;
}

.orange{
  color:orange
}